{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}


<!-- main window -->
<div class="main">
    <div class="bio">
        <img src="{{ url_for('static', filename=image_path) }}" alt="pp.jpg" id="foto-profil">
        <div class="name">
            <h2 id="nama">{{ account['username'] }}</h2>
            <h2 id="telp">+62891-2345-6789</h2>
            <h2 id="email">{{ account['email'] }}</h2>
        </div>
    </div>
    <div class="location">
        <img src="{{ url_for('static', filename='image/gmaps.png') }}" alt="gmaps.png" id="gmaps">
        <h2 id="alamat">Ds. Semen RT 1 RW 1, Kecamatan Takeran, Kabupaten Magetan, Jawa Timur 69420</h4>
    </div>
    <div class="bayar">
        <h2 id="payment">Alat Pembayaran:</h2>
        <img src="{{ url_for('static', filename='image/dana.png') }}" alt="dana.png" id="dana">
        <img src="{{ url_for('static', filename='image/gopay.png') }}" alt="gopay.png" id="gopay">
    </div>
</div>

<div class="like">
{% if account %}
    <h1>{{ account['username'] }}'s Profile</h1>
    <p>Views: {{ account['views'] }}</p>
    <p>Likes: {{ account['likes'] }}</p>
    <form action="{{ url_for('profile', user_id=account['id']) }}" method="post">
        <button type="submit" name="like">Like</button>
    </form>
    <p>{{ msg }}</p>
    {% else %}
    <p>Profile not found.</p>
    {% endif %}
</div>
{% endblock %}