* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1em;
    padding: 1em;
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    
}

form {
    margin: 0 auto;
    padding: 1em 1em;
    border-radius: 1em;
    background-color: #d6b886;
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #1b1b1b;
}

#username, #email {
    width: 100%;
    padding: 0.2em 1em;
    margin: 0.5em 0;
    display: inline-block;
    border: 1.5px solid black;
    border-radius: 0.5em;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em auto;
    padding: 0.5em 8.5em;
    background-color: #6e2d1f;
    color: #ffffff;
    border: 1.5px solid black;
    border-radius: 0.5em;
    font-weight: 700;
    font-family: "Poppins";
}